<template>
    <b-container>

    <h1 class="display-4 text-center">Cash Denominator</h1>

    <b-row>
    
        <b-col sm="6"
            offset-md="3">
            <b-form 
                @submit.prevent="denominate()">

                <b-form-group>

                    <b-input-group>

                    <b-input class=""
                        placeholder="Input denomination value" 
                        v-model="cashInput"
                        :state="inputState"/>

                        <b-input-group-append>

                            <b-button :variant = "inputState ? 'success' : 'danger'"
                                @click="denominate()"
                                :disabled="inputState ? false: true">
                                Calculate !
                            </b-button>

                        </b-input-group-append>

                        <b-form-invalid-feedback id="inputLiveFeedback">
                            Wrong input format!
                        </b-form-invalid-feedback>

                    </b-input-group>

                </b-form-group>

            </b-form>

        </b-col>

    </b-row>

    <b-row>

        <b-col sm="12"
            md="6"
            offset-md="3">

            <b-list-group>

                <b-list-group-item
                    class="bg-success text-white text-center" 
                    v-if="realNumber != null">
                    Here's what you need
                </b-list-group-item>

                <b-list-group-item 
                    v-for="(cashtype, index) in filteredCount" :key="index">
                    {{cashtype.count}} pcs of Rp. {{cashtype.value}} 
                </b-list-group-item>

                <b-list-group-item 
                    v-if="realNumber > 0" 
                    class="text-right">
                    With remaining Rp. {{realNumber}}
                </b-list-group-item>

            </b-list-group>

            <b-link href="https://gitlab.com/tigertrack/cash-denominate" 
                target="_blank" 
                class="float-right my-2">
                About this project
            </b-link>

        </b-col>

    </b-row>

</b-container>

</template>

<script>
export default {
    name: 'inputDenominate',
    data () {
        return {
            cashInput: 0,
            realNumber:null,
            listType: [{value: 100000, count: 0} ,
                {value: 50000, count: 0},
                {value: 20000, count: 0},
                {value: 10000, count: 0},
                {value: 5000, count: 0},
                {value: 1000, count: 0},
                {value: 500, count: 0},
                {value: 100, count: 0},
                {value: 50, count: 0}
            ]     
        }
    },
    methods: {
        denominate(){
            this.realNumber = this.inputParsed;
            this.listType.forEach(function(type){
                type.count = 0;
            });
            this.listType.forEach(this.decrease);
        },
        decrease(val){
            while(this.realNumber >= val.value){
                this.realNumber -= val.value;
                val.count++;
            }
        },
    },
    computed: {
        filteredCount(){
            return this.listType.filter(type => type.count != 0);
        },
        inputState(){
            return /^((Rp)?\s?(\d{1,3})(\.\d{3})*(,\d{2})?$|\d{1,}$|(Rp)?\s?(\d{1,3})(\d{3})*(,\d{2})?$)/g.test(this.cashInput);
        },
        inputParsed(){
            return this.cashInput.replace(/(Rp|\.|\s|,\d{2})/g, '');
        }
    },
}
</script>