<template>
  <div class="wrapper">
    <div id="app">
      <inputDenominate></inputDenominate>
    </div>
    <footer class="container-fluid bg-light py-2 pt-1 text-center">
      <p class="">© 2018-2019
        <a href="https://www.linkedin.com/in/riandy-fadly-548381145"
          target="_blank">
          Riandy Fadly
        </a>
      </p>
    </footer>
  </div>
</template>

<script>

import inputDenominate from './components/inputDenominate.vue'

export default {
  name: 'app',
  created () {
            document.title = "Cash Denominator";
        },
  components: {
    inputDenominate
  }
}
</script>

<style>

#app {
  margin-top: 60px;
  min-height:calc(100vh - 172px);
}

form {
  margin-top: 40px;
}

footer{
  margin-top: 40px;
}

footer>p{
  margin-top:1rem!important;
}
</style>